
<div class="col-md-3" id="leftPanel" ng-controller="DinnerCtrl">
	<div id="guestDetails">
		<h2>My Dinner</h2>
		People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" class="numberWheel"/>
	</div>
	<div id="dishDetails">
		<div id="chosenDish">
			<h4>
				<hr id="subHeaderDivider">
				<div class="row" id="subDishHeader">
					<div class="col-md-9">Dish Name</div>
					<div class="col-md-2">Cost</div>
				</div>
				<hr id="subHeaderDivider">
			</h4>
			<strong>
				<div ng-repeat="dish in fullMenu">
					<div class="row">
						<div class="col-md-8">
							{{dish.Title}}
						</div>
						<div class="col-md-3">
							{{ priceOf(dish).toFixed(1) }}
							<span class='glyphicon glyphicon-remove clickable' ng-click="removeDish(dish.RecipeID)"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-9"> Pending </div>
					<div class="col-md-2"> {{ getPendingPrice().toFixed(1) }} </div>

				</div>
			</strong>
		</div>
		<hr id="priceDivider">

		<div id="cost" class="col-md-6 col-md-offset-6">
			<h3 class="totalCost">SEK {{ totalCost().toFixed(1) }}</h3>
		</div>
		<div id="confirm">
			<a href="#/confirm"><button id="confirmDinner" class="btn btn-warning" ng-disabled="pendingEnabled()">Confirm Dinner </button></a>
		</div>
	</div>
</div>

<!-- People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/> -->


<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->