<!-- We include the sidebar as it is shared across two screens. -->
<div class="mainHeader">
	<h1 class="clickable">HOMELETTE <small><i>From the best chefs in the world directly into your kitchen</i></small></h1>
	<hr id="headerDivider">
</div>
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

{{ status }}
<img src="images/loading.gif" ng-show="loading"/>

<div id="dishDetailView" ng-show="ready">
	<div class="col-md-4">


		<div id="dishName">
			<h2>{{ pendingDish.Title }}</h2>
		</div>
		<div id="dishPicture">
			<img ng-src="{{pendingDish.ImageURL}}" width="350px" class="img-thumbnail">
		</div>
		<div id="dishDescription">
			{{ pendingDish.Instructions }}
		</div>

		<br/>
		<div id="backButton">
			<a href="#/search"><button class="btn btn-warning" ng-click="backToEdit()">Back to select dish</button></a>
		</div>
	</div>
</div>

<div id="dishIngredientView" ng-show="ready">
	<div class="col-md-5" id="ingredients">
		<h3 ng-controller="DinnerCtrl">Ingredients for {{ getNumberOfGuests() }} people</h3>
		<div id="dishOverview">
			<div ng-repeat="ingredient in pendingDish.Ingredients">
				<div class="row">
					<div class="col-md-6">
						{{ ingredient.Name }}
					</div>
					<div class="col-md-1">SEK</div>
					<div class="col-md-1">{{ ingredient.Quantity * getNumberOfGuests() }}</div>
				</div>
			</div>
			<span id="menuDetails"></span>
			<hr id='priceDivider'>
			<div class='row'>
				<div class='col-md-4'>
					<center><a href="#/search"><button class='btn btn-warning' ng-click="confirmDish()">Confirm dish</button></a></center>
				</div>
				<div class='col-md-offset-5 col-md-1'> SEK </div>
				<div class='col-md-1'> {{ priceOf(pendingDish).toFixed(1) }}</div>
			</div>
		</div>
	</div>
</div>
