<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="container full-width">
    <div id="divOfStartscreenness">
        <div class="container" id="foodBackground">
            <h1 id="startScreenHeader">HOMELETTE <small id="startscreenSmall"><i>From the best chefs in the world directly into your kitchen</i></small></h1>
            <hr id="headerDivider">
            <div class="row">
                <div class="col-md-5" id="quickStartBox">
                    <h3 id="quickBoxMargin" class="quickBoxHeader" >A Home Dinner Service</h3>
                    <hr id="priceDivider" class="reduceMargin">
                    <p id="quickBoxMargin"> Lorem Ipsum bitches </p>
                    <div id="quickBoxMargin">
                        Start Quickly<br/>
                        <a href="#/search" class="btn btn-warning">Create new dinner</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>       

</div>
